.footer-list{
    list-style: none;
    font-weight: bold;
    display: inline-block;
}
.footer-list li .texctdec:hover{
    color: rgb(64, 109, 255);
    transition: all .4s ease-in-out;
}
.texctdec{
    text-decoration: none;
    color: rgb(0, 32, 194);
}