.footer-list{
    list-style: none;
    font-weight: bold;
    display: inline-block;
}
.texctdec{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer-list li .texctdec:hover{
    color: rgb(158, 180, 255);
    transition: all .4s ease-in-out;
}

h4 .texctdec{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .4s ease-in-out;
}
h4 .texctdec:hover{
    color: rgb(158, 180, 255);
}

